@page "/Book"
@using NodaTime;
@using System;
@using AthsEssGymBook.Shared
@inject HttpClient Http
@inject IdentityAuthenticationStateProvider authStateProvider

@inject Services.BookingsClient BookingsClient

@inject IJSRuntime JsRuntime

<AuthorizeView>
    <Authorized>
        <h3>Make a Gym Booking</h3>
        <h3>
            Hello @context.User.Identity.Name
        </h3>
        <p>@Message</p>

        <p>Click here to choose the <b><i>Booking Date:</i></b></p>
        <input id="Date" value=@ThisDate type="text" @onfocus="@DateFocused" />
        <DatePicker Visible="DatePickerVisible" OnSelected="LocaDateSelected" MinDate="@Today" DaysOfWeekDisabled=@(new IsoDayOfWeek[] { IsoDayOfWeek.Saturday, IsoDayOfWeek.Sunday }) />

        <p></p>
        <p>Click here to set the <b><i>Booking Start Time:</i></b></p>
        <input type="text" @onfocus=@focussed4 value=@BookTime_TS />
        <TimePicker  MinuteStep="30" Visible=TimePickerVisible OnSelectedTimeChanged=@LocalTimeChanged ShowClose=true CloseOnSelect=true SelectedTime=@BookTime_Local />

        <p></p>
        <button class="btn btn-primary" @onclick="@PrevTimeSlot">Prev</button>&nbsp;
        <button class="btn btn-primary" @onclick="@BookMe">Book</button>&nbsp;
        <button class="btn btn-primary" @onclick="@NextTimeSlot">Next</button>
        <br />
        <br />
        <p>Available Booking Slots: @showCount out of 4</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
    </Authorized>
    <Authorizing>
        <h1>Please wait. Loading ...</h1>
    </Authorizing>
</AuthorizeView>



@functions {

    AuthenticationState context { get; set; }
    List<BookingInfo> MyBookings { get; set; }
    Athlete LoggegInAthlete { get; set; }
    List<Athlete> Athletes { get; set; }

    Dictionary<TimeSpan, int> BookingCounts { get; set; }
    List<TimeSpan> MyBookingTimes { get; set; } = new List<TimeSpan>();

    LocalDate Today = new LocalDate(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);

    int currentCount = Settings.MaxNumberInRoom;
    int showCount = 0;
    string Message = "Info";

    bool DatePickerVisible = false;
    bool TimePickerVisible = false;


    LocalDate BookingDate_Local;  // = System.DateTime.Today;
    string ThisDate = System.DateTime.Today.ToString("D");

    DateTime BookingDate_DT = DateTime.Today;

    TimeSpan BookTime_TS = AthsEssGymBook.Shared.Settings.AddBookingShowStartTime;


    LocalTime BookTime_Local;

    async Task RefreshData()
    {
        MyBookings = await BookingsClient.GetBookingList(LoggegInAthlete.Id);
        BookingCounts = await BookingsClient.GetBookingCountForDay(DateTime.Today);
        MyBookingTimes = await BookingsClient.GetMyBookingsForDay(DateTime.Today, LoggegInAthlete.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        string ThisDate = System.DateTime.Today.ToString("D");
        BookingDate_DT = DateTime.Today;

        context = await authStateProvider.GetAuthenticationStateAsync();
        string name = context.User.Identity.Name;
        var vathletes = await Http.GetFromJsonAsync<Athlete[]>("api/Athletes");
        Athletes = vathletes.ToList<Athlete>();


        LoggegInAthlete = await Http.GetFromJsonAsync<Athlete>($"api/Athletes/{name}");


        await RefreshData();

        BookTime_Local = new LocalTime(BookTime_TS.Hours, BookTime_TS.Minutes, BookTime_TS.Seconds);
        StateHasChanged();
        TimePickerVisible = false;
        int count = 0;
        if (BookingCounts.Keys.Contains<TimeSpan>(BookTime_TS))
        {
            count = BookingCounts[BookTime_TS];
        }
        Message = "Some bookings available at this time.";
        showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom - count;
        if (showCount == 0)
            Message = "No bookings available at this time.";
    }


    void PrevTimeSlot()
    {
        BookTime_TS = BookTime_TS.Subtract(new TimeSpan(0, 30, 0));
        BookTime_Local = new LocalTime(BookTime_TS.Hours, BookTime_TS.Minutes, BookTime_TS.Seconds);
        StateHasChanged();
        Message = "Some bookings available at this time.";
        int count = 0;
        var rt = BookingCounts.Keys;
        bool tty = BookingCounts.Keys.Contains<TimeSpan>(BookTime_TS);
        if (BookingCounts.Keys.Contains<TimeSpan>(BookTime_TS))
        {
            count = BookingCounts[BookTime_TS];
        }
        TimePickerVisible = false;
        showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom - count;
        if (showCount == 0)
            Message = "No bookings available at this time.";
    }

    void NextTimeSlot()
    {
        BookTime_TS = BookTime_TS.Add(new TimeSpan(0, 30, 0));
        BookTime_Local = new LocalTime(BookTime_TS.Hours, BookTime_TS.Minutes, BookTime_TS.Seconds);
        StateHasChanged();
        Message = "Some bookings available at this time.";
        int count = 0;
        if (BookingCounts.Keys.Contains<TimeSpan>(BookTime_TS))
        {
            count = BookingCounts[BookTime_TS];
        }
        TimePickerVisible = false;
        showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom - count;
        if (showCount == 0)
            Message = "No bookings available at this time.";
    }

    async Task BookMe()
    {

        showCount = currentCount;
        DatePickerVisible = false;
        TimePickerVisible = false;

        BookingInfo info = new BookingInfo();
        info.AthleteId = LoggegInAthlete.Id;

        info.Slot = 5 - currentCount;
        info.Date = BookingDate_DT;
        System.Diagnostics.Debug.WriteLine(info.Date);

        info.Time = BookTime_TS;
        info._Duration = 2;
        if (MyBookingTimes.Contains(info.Time))
        {
            if (!AthsEssGymBook.Shared.Settings.FORDEVONLY_User_Can_book_more_than_once_at_one_time)
            {
                Message = "You already have this booking!";
                int id = (from b in MyBookings where b.Time == info.Time select b.Id).FirstOrDefault<int>();
                System.Diagnostics.Debug.WriteLine("===={0}====",id);
                await DeleteExistingBooking(id);
                return;
            }
        }
        int count = 0;
        if (BookingCounts.Keys.Contains<TimeSpan>(info.Time))
        {
            count = BookingCounts[info.Time];
        }
        if (count < AthsEssGymBook.Shared.Settings.MaxNumberInRoom)
        {
            try
            {
                //var bookings = Http.GetFromJsonAsync<BookingInfo>("api/BookingInfos");
                //await Http.PostAsJsonAsync("api/BookingInfos", info);
                await BookingsClient.AddBooking(info);
                await RefreshData();
            }
            catch (Exception ex)
            {
                System.Diagnostics.Debug.WriteLine(ex.Message);
                System.Diagnostics.Debug.WriteLine(ex.InnerException);
            }
            Message = $"Just booked you.";
            showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom;
            if (MyBookingTimes.Contains(info.Time))
            {
                showCount = showCount - BookingCounts[info.Time];
                System.Diagnostics.Debug.WriteLine("===={0}====",showCount);
            }
            if (showCount == 0)
                Message += " - No more bookings available at this time..";
        }
        else
        {
            Message = "No bookings available at this time.";
            showCount = 0;
        }

    }



    async Task DeleteBooking(int id)
    {
        var b = await BookingsClient.GetBooking(id);
        await BookingsClient.DeleteBooking(id);
        BookingCounts = await BookingsClient.GetBookingCountForDay(DateTime.Today);
        MyBookingTimes = await BookingsClient.GetMyBookingsForDay(DateTime.Today, LoggegInAthlete.Id);
        showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom - BookingCounts[BookTime_TS];
        DatePickerVisible = false;
        TimePickerVisible = false;
    }

    void DateFocused(FocusEventArgs e)
    {
        DatePickerVisible = true;
        TimePickerVisible = false;
    }


    async Task LocaDateSelected(LocalDate localDate)
    {
        BookingDate_DT = new DateTime(localDate.Year, localDate.Month, localDate.Day);
        System.Diagnostics.Debug.WriteLine(BookingDate_DT);
        Message = "";
        if (BookingDate_DT >= DateTime.Today)
        {
            BookingDate_Local = localDate;
            ThisDate = localDate.ToString();
            DatePickerVisible = false;
            StateHasChanged();
            TimePickerVisible = true;
            BookingCounts = await BookingsClient.GetBookingCountForDay(BookingDate_DT);
        }
        else
        {
            Message = "Please select a date today or in the future.";
        }
    }

    void focussed4()
    {
        TimePickerVisible = true;
        DatePickerVisible = false;
    }

    void LocalTimeChanged(LocalTime time)
    {
        BookTime_TS = new TimeSpan(time.Hour, time.Minute, 0);
        BookTime_Local = time;
        StateHasChanged();
        Message = "";
        int count = 0;
        if (BookingCounts.Keys.Contains<TimeSpan>(BookTime_TS))
        {
            count = BookingCounts[BookTime_TS];
        }
        showCount = AthsEssGymBook.Shared.Settings.MaxNumberInRoom - count;
        if (showCount == 0)
            Message = "No bookings available at this time.";
    }

    async Task DeleteExistingBooking(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "You already have that booking.Do you wish to delete it?");
        if (confirmed)
        {
            await DeleteBooking(id);
            BookingCounts = await BookingsClient.GetBookingCountForDay(DateTime.Today);
            await RefreshData();
        }
    }

}




