@page "/MyBookings"
@using NodaTime;
@using System;
@using AthsEssGymBook.Shared

@inject HttpClient Http
@inject IdentityAuthenticationStateProvider authStateProvider
@inject IJSRuntime JsRuntime
@inject Services.BookingsClient BookingsClient
<h3><font color="blue">My Gym Bookings</font></h3>
<AuthorizeView>
    <Authorized>
        <table class="table2">
            <tbody>
                <tr>
                    <td colspan="4">
                        <input id="Date" value=@ThisDate type="text" @onfocus="@DatePickerFocused" />
                        <DatePicker Style="opacity:100" SelectedDate="BookingDate_Local" Visible="DatePickerVisible" OnSelected="LocaDateSelected" MinDate="@Today_Local" DaysOfWeekDisabled=@(new IsoDayOfWeek[] { IsoDayOfWeek.Saturday, IsoDayOfWeek.Sunday }) />
                    </td>
                </tr>
                <tr>
                    <td align="right"><font color="blue"><b><i>From:&nbsp;</i></b></font></td>
                    <td><TelerikButton IconClass="oi oi-collapse-right" @onclick="@ShowFrom"></TelerikButton></td>
                    <td align="right"><font color="blue"><b><i>Reload:&nbsp;</i></b></font></td>
                    <td><TelerikButton IconClass="oi oi-reload" @onclick="@ShowAll"></TelerikButton></td>
                </tr>
                <tr>
                    <td align="right"><font color="red"><b>Day:&nbsp;</b></font></td>
                    <td><TelerikButton IconClass="oi oi-caret-left" @onclick="@PrevDay"></TelerikButton></td>
                    <td><TelerikButton IconClass="oi oi-media-stop" @onclick="@ShowToday"></TelerikButton></td>
                    <td><TelerikButton IconClass="oi oi-caret-right" @onclick="@NextDay"></TelerikButton></td>
                </tr>
                <tr>
                    <td align="right"><font color="red"><b>Week:&nbsp;</b></font></td>
                    <td><TelerikButton IconClass="oi oi-caret-left" @onclick="@PrevWeek"></TelerikButton></td>
                    <td><TelerikButton IconClass="oi oi-media-stop" @onclick="@ShowToday"></TelerikButton></td>
                    <td><TelerikButton IconClass="oi oi-caret-right" @onclick="@NextWeek"></TelerikButton></td>
                </tr>>
            </tbody>
        </table>



        @if (MyBookingz == null)
        {
        <p><em>Please wait. Loading...</em></p>
        }
        else
        {
        <TelerikGrid Data="@Bookings"
                     Pageable="true" PageSize="10" Sortable="true" Groupable="true"
                     OnDelete="@DeleteHandler"
                     Resizable="true" Reorderable="true">
            <GridColumns>
                <GridColumn Field=@nameof(BookingInfo.Id) Title="Id" Editable="false" />
                <GridColumn Field=@nameof(BookingInfo._Date) Title="Date" Editable="false" />
                <GridColumn Field=@nameof(BookingInfo.Time) Title="Time" Editable="false" />
                <GridCommandColumn>
                    <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                </GridCommandColumn>
            </GridColumns>
        </TelerikGrid>
        }

    </Authorized>
    <Authorizing>
        <h1>Please wait. Loading ...</h1>
    </Authorizing>
</AuthorizeView>


@functions {

    AuthenticationState context { get; set; }
    List<BookingInfo> MyBookingz { get; set; } = new List<BookingInfo>();
    List<BookingInfo> Bookings { get; set; } = new List<BookingInfo>();
    Athlete LoggegInAthlete { get; set; }
    List<Athlete> Athletes { get; set; }

    Dictionary<TimeSpan, int> BookingCounts { get; set; }
    List<TimeSpan> MyBookingTimes { get; set; } = new List<TimeSpan>();

    LocalDate Today = new LocalDate(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);

    int currentCount = Settings.MaxNumberInRoom;
    int showCount = 0;
    string Message = "Info";

    DateTime Today_DT;
    LocalDate Today_Local;

    bool DatePickerVisible = false;
    bool TimePickerVisible = false;


    LocalDate BookingDate_Local;  // = System.DateTime.Today;
    string ThisDate = System.DateTime.Today.ToString("D");

    DateTime BookingDate_DT = DateTime.Today;

    void UpdateDate()
    {
        ThisDate = BookingDate_DT.ToString("D");
        StateHasChanged();
    }

    void UpdateData()
    {

        //var allSlots = await _BookingSlotsClient.GetSlotList();
        UpdateDate();
    }

    async Task ShowAll()
    {
        BookingDate_DT = DateTime.Today;
        ThisDate = BookingDate_DT.ToString("D");
        MyBookingz = await BookingsClient.GetBookingList(LoggegInAthlete.Id);
        Bookings = MyBookingz;
        DatePickerVisible = false;
    }

    void ShowFrom()
    {
        DatePickerVisible = false;
        TimePickerVisible = false;

        var slots = from b in MyBookingz where DateTime.Compare(b.Date, BookingDate_DT) >= 0 select b;

        Bookings = slots.ToList<BookingInfo>();
        UpdateDate();
    }

    void NextDay()
    {
        var bookingDate_DT = BookingDate_DT.AddDays(1);
        Message = "";
        if (bookingDate_DT >= DateTime.Today)
        {
            BookingDate_DT = bookingDate_DT;
            BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);
            DatePickerVisible = false;
            StateHasChanged();
            TimePickerVisible = false;
            var slots = from sl in MyBookingz where sl.Date == BookingDate_DT select sl;
            Bookings = slots.ToList<BookingInfo>();
            UpdateDate();
        }
        else
        {
            Message = "Please select a date today or in the future.";
        }
    }

    void ShowToday()
    {
        BookingDate_DT = DateTime.Today;
        BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);
        DatePickerVisible = false;
        TimePickerVisible = false;
        var slots = from sl in MyBookingz where sl.Date == BookingDate_DT select sl;
        Bookings = slots.ToList<BookingInfo>();
        UpdateDate();
    }

    void PrevDay()
    {
        var bookingDate_DT = BookingDate_DT.AddDays(-1);
        Message = "";
        if (bookingDate_DT >= DateTime.Today)
        {
            BookingDate_DT = bookingDate_DT;
            BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);
            DatePickerVisible = false;
            StateHasChanged();
            TimePickerVisible = false;
            var slots = from sl in MyBookingz where sl.Date == BookingDate_DT select sl;
            Bookings = slots.ToList<BookingInfo>();
            UpdateDate();
        }
        else
        {

        }
    }

    void NextWeek()
    {
        var bookingDate_DT = BookingDate_DT.AddDays(+7);
        Message = "";
        if (bookingDate_DT >= DateTime.Today)
        {
            BookingDate_DT = bookingDate_DT;
            BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);

            DatePickerVisible = false;
            TimePickerVisible = false;

            int dayOfTheWeek = (int)BookingDate_DT.DayOfWeek;
            DateTime startDate = BookingDate_DT.Subtract(new TimeSpan(dayOfTheWeek, 0, 0, 0, 0));
            DateTime endDate = startDate.Add(new TimeSpan(8, 0, 0, 0, 0));
            var slots = from b in MyBookingz where (DateTime.Compare(b.Date, startDate) > 0) && (DateTime.Compare(b.Date, endDate) < 0) select b;

            Bookings = slots.ToList<BookingInfo>();
            UpdateDate();
        }
        else
        {
            Message = "Please select a date today or in the future.";
        }
    }

    void ThisWeek()
    {
        BookingDate_DT = DateTime.Today;
        BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);

        DatePickerVisible = false;
        TimePickerVisible = false;

        int dayOfTheWeek = (int)BookingDate_DT.DayOfWeek;
        DateTime startDate = BookingDate_DT.Subtract(new TimeSpan(dayOfTheWeek, 0, 0, 0, 0));
        DateTime endDate = startDate.Add(new TimeSpan(8, 0, 0, 0, 0));
        var slots = from b in MyBookingz where (DateTime.Compare(b.Date, startDate) > 0) && (DateTime.Compare(b.Date, endDate) < 0) select b;

        Bookings = slots.ToList<BookingInfo>();
        UpdateDate();
    }

    void PrevWeek()
    {
        var bookingDate_DT = BookingDate_DT.AddDays(-7);
        Message = "";
        if (bookingDate_DT >= DateTime.Today)
        {
            BookingDate_DT = bookingDate_DT;
            BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);

            DatePickerVisible = false;
            TimePickerVisible = false;

            int dayOfTheWeek = (int)BookingDate_DT.DayOfWeek;
            DateTime startDate = BookingDate_DT.Subtract(new TimeSpan(dayOfTheWeek, 0, 0, 0, 0));
            DateTime endDate = startDate.Add(new TimeSpan(8, 0, 0, 0, 0));
            var slots = from b in MyBookingz where (DateTime.Compare(b.Date, startDate) > 0) && (DateTime.Compare(b.Date, endDate) < 0) select b;

            Bookings = slots.ToList<BookingInfo>();
            UpdateDate();
        }
        else
        {
            Message = "Please select a date today or in the future.";
        }
    }



    async Task RefreshData()
    {
        MyBookingz = await BookingsClient.GetBookingList(LoggegInAthlete.Id);
        Bookings = MyBookingz;
        BookingCounts = await BookingsClient.GetBookingCountForDay(DateTime.Today);
        MyBookingTimes = await BookingsClient.GetMyBookingsForDay(DateTime.Today, LoggegInAthlete.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        Today_DT = DateTime.Today;
        Today_Local = new LocalDate(Today_DT.Year, Today_DT.Month, Today_DT.Day);
        BookingDate_DT = DateTime.Today;
        BookingDate_Local = new LocalDate(BookingDate_DT.Year, BookingDate_DT.Month, BookingDate_DT.Day);

        string ThisDate = System.DateTime.Today.ToString("D");


        context = await authStateProvider.GetAuthenticationStateAsync();
        string name = context.User.Identity.Name;
        var vathletes = await Http.GetFromJsonAsync<Athlete[]>("api/Athletes");
        Athletes = vathletes.ToList<Athlete>();
        LoggegInAthlete = await Http.GetFromJsonAsync<Athlete>($"api/Athletes/{name}");
        await RefreshData();
        StateHasChanged();
    }


    void DatePickerFocused(FocusEventArgs e)
    {
        DatePickerVisible = true;
        TimePickerVisible = false;
    }

    async Task LocaDateSelected(LocalDate localDate)
    {
        BookingDate_DT = new DateTime(localDate.Year, localDate.Month, localDate.Day);
        BookingDate_Local = localDate;
        ThisDate = BookingDate_DT.ToString("D");
        MyBookingz = await BookingsClient.GetBookings(BookingDate_DT, LoggegInAthlete.Id);
        DatePickerVisible = false;
        StateHasChanged();
    }



    async Task Selected()
    {
        ThisDate = BookingDate_DT.ToString("D");
        MyBookingz = await BookingsClient.GetBookings(BookingDate_DT, LoggegInAthlete.Id);
        DatePickerVisible = false;
    }

    async Task DeleteHandler(GridCommandEventArgs args)
    {
        //AppendToLog("Delete", args);

        BookingInfo item = (BookingInfo)args.Item;
        if (item != null){        // perform actual data source operation here through your service
            await Task.Delay(100); // simulate actual long running async operation

            bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Do you wish to delete that booking?");
            if (confirmed)
            {
                //Need to delete its slots first
                await BookingsClient.DeleteBooking(item.Id);
                MyBookingz = await BookingsClient.GetBookingList(LoggegInAthlete.Id);
                Bookings = MyBookingz;
            }
        }
    }





}




